:root{
    --light-gray-accent: #C4C4C414;
    --dark-gray-text-color: #000000CC;
    --white-text-color:#FFFFFF;
    --border-color: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 28.65%, rgba(0, 0, 0, 0.4) 67.71%, rgba(0, 0, 0, 0) 100%);
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.book-list{
 color: var(--white-text-color)  
 font-size: 18px;
 font-weight: 400;
 flex-wrap: wrap;
}